*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.order
*.symvers
*.cmd
.tmp_versions/
Module.markers
modules.order
Module.symvers
*.swp
*.swo
*.orig
*.rej
tools/lkmdbg_mem_test
tools/lkmdbg_mmu_test
tools/lkmdbg_open_session
tools/lkmdbg_stealth_ctl
tools/lkmdbg_input_ctl
